//----------------------
//ELEMENTS
//----------------------

.notification__box {
  background-color: #750f7e;
  //@include border();
  //@extend %border-style-solid;
  @extend %display-flex;
  @extend %r-ptb_1;
  @extend %r-plr_2;
}

.notification__message {
  @extend %color-white;
  flex: 1 1 auto;

  p {
    @extend %r-mtb_2;
  }
}

.notification__control {
  flex: 0 1 auto;
  @extend %r-ml_2;
}

.notification__dismiss-btn {
  //
}
