//----------------------
//ELEMENTS
//----------------------

.notification__box {
  @include background($notification__box--background);
  @include border($notification__box--border);
  display: flex;
  @include padding($notification__box--padding);
}

.notification__message {
  @include font($notification__message--font);
  @include text($notification__message--text);
  flex: 1 1 auto;

  p {
    @include margin($notification__message--paragraph-margin);
  }
}

.notification__control {
  flex: 0 1 auto;
}

.notification__dismiss-btn {
  //
}
