//----------------------
//MODIFIERS
//----------------------
//
//STATUS

.notification_visible {
  //
}
//
//SKINS AND STYLES

.notification__box_alert {
  background-color: #ae3636;
  //@include border();
  //@extend %color-white;
}

.notification__box_succsess {
  background-color: #1ba129;
  //@include border();
  //@extend %color-white;
}

.notification__box_warning {
  background-color: #ff6a00;
  //@include border();
  //@extend %color-white;
}

.notification__box_info {
  background-color: #2a9ed6;
  //@include border();
  //@extend %color-white;
}
